.wrapper{
  width: 350px;
  background: #fff;
  min-height: 400px;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px; 
  box-shadow: 0px 0px 20px -1px #ccc;
}

body{
  background: #ebf5fb ;
}

form{
  display: grid;
  grid-template-columns: 4fr 1fr;
  width: 100%;
}

input[type="text"] {
  height: 40px;
  border: 0;
  padding-left: 10px;
  font-size: 18px;
  border: 2px solid #a5cef5;
  color: #5f6a6a;
}

input[type="submit"] {
  margin-left: 5px;
  border:0;
  background: #a5cef5;
  color: #fff;
  font-size: 17px;
}

input:focus{
  outline: none;
}

ul{
  padding: 15px;
  width: 100%;
  margin-bottom: 0;
}

li{
  list-style: none;
  font-size: 20px;
  overflow-wrap: anywhere;
  width: 285px !important;
  color: #5f6a6a;
}

.item-wrapper{
  display: grid;
  grid-template-columns: 6fr 1fr;
  padding: 10px;
}

button{
  border: 0;
  font-weight: 800;
  justify-self: flex-end;
  background-color: initial;
}

.fas{
  color:#a5cef5;
  font-size: 20px;
  cursor: pointer;
}